<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      
      <indexing.resolveItemBoost>
        <!--
        During indexing, add a dynamic value to the scoring based on how 'fresh' the content is
        -->
        <processor patch:after="processor[@type='Sitecore.ContentSearch.Pipelines.ResolveBoost.ResolveItemBoost.GlobalRuleBasedItemBoostResolver, Sitecore.ContentSearch']" 
                   type="Sitecore.Feature.Freshness.Pipelines.ResolveItemBoost.BoostIndicator, Sitecore.Feature.Freshness"/>
      </indexing.resolveItemBoost>


      <getContentEditorWarnings>
        <!-- 
          Adds Content Editor Notifications for Freshness
          -->
        <processor type="Sitecore.Feature.Freshness.Pipelines.GetContentEditorWarnings.NotificationIndicator, Sitecore.Feature.Freshness"></processor>
      </getContentEditorWarnings>

      <getPageEditorNotifications>
        <!-- 
          Adds Experience Editor Notifications for Freshness
          -->
          <processor type="Sitecore.Feature.Freshness.Pipelines.GetPageEditorNotifications.NotificationIndicator, Sitecore.Feature.Freshness"></processor>
      </getPageEditorNotifications>

      <freshness>

        <!-- 
          Adds Experience Editor Notifications for Freshness
          -->
        <processor type="Sitecore.Feature.Freshness.Pipelines.Freshness.FreshnessResolver, Sitecore.Feature.Freshness">
          <factors hint="raw:Add">
            <updatedfactor type="Sitecore.Feature.Freshness.Factors.UpdatedBoostFactor">
              <maxvalue>100</maxvalue>
              <maxdays>90</maxdays>
            </updatedfactor>
          </factors>
        </processor>
      </freshness>
    </pipelines>
  </sitecore>
</configuration>